@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Teste Técnico</h1>
    <p>
        WebAPI para cadastro e consulta de documentos usando ASP.NET MVC e MySql.
        Para Utilizar o Teste crie a base de dados no seu servidor root.
        Crie o servidor clicando <a href="/Home/CriarBaseDeDados">aqui</a>
    </p>
</div>


   
